@font-face {
  font-family: "iconfont"; /* Project id 4832058 */
  src: url('iconfont.woff2?t=1739946861147') format('woff2'),
       url('iconfont.woff?t=1739946861147') format('woff'),
       url('iconfont.ttf?t=1739946861147') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
  content: "\e614";
}

.icon-stack:before {
  content: "\e616";
}

.icon-icon-test:before {
  content: "\e635";
}

.icon-icon-test1:before {
  content: "\e63c";
}

.icon-label_fill:before {
  content: "\e60c";
}

.icon-link:before {
  content: "\e60d";
}

.icon-sort:before {
  content: "\e60f";
}

.icon-schedule:before {
  content: "\e610";
}

.icon-chakan:before {
  content: "\e612";
}

.icon-pinglun:before {
  content: "\e891";
}

.icon-caidan:before {
  content: "\eaf1";
}

.icon-caidan1:before {
  content: "\e60e";
}

.icon-fenxiang:before {
  content: "\e624";
}

.icon-jiantoushang:before {
  content: "\e62c";
}

.icon-shouye:before {
  content: "\e62e";
}

.icon-pingjia:before {
  content: "\e641";
}

.icon-huanyihuan:before {
  content: "\e653";
}

